IndentWidth: 2
ContinuationIndentWidth: 2
SortIncludes: Never
BinPackArguments: false
BinPackParameters: false
InsertBraces: true
PointerAlignment: Left
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BreakBeforeTernaryOperators: true
BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 10000
