# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: required
cache: packages

# ------------------------------------------------------------------------------
# Need to update Travis's really old gcc for use with cpp14
# https://stackoverflow.com/questions/39728709/using-an-alternate-compiler-for-travis-ci-r-project-builds
# 1) Use g++-6 so we definitely have C++14 as the default
# 2) A Makevars is used to build all of the dependencies and my package with
#    gcc-6 and g++-6.
# 3) We remove the "request" for CXX14 in src/Makevars and let R just find
#    the default, which is now g++-6 (bc of step 2) which uses cpp14 by default.
#    Unfortunately this is required.

# base64 resolves to (yes with a new line for it to work):
# VER=-6
# CC=gcc$(VER)
# CXX=g++$(VER)
#

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
before_install:
  - echo "Updating ~/.R/Makevars to know about g++-6"
  - mkdir -p ~/.R
  - echo "VkVSPS02CkNDPWdjYyQoVkVSKQpDWFg9ZysrJChWRVIpCg==" | base64 -d > ~/.R/Makevars
  - cat ~/.R/Makevars
  - echo "Overriding src/Makevars and removing C++14 on Travis only"
  - sed -i 's|CXX_STD = CXX14||' src/Makevars
# ------------------------------------------------------------------------------

r_github_packages:
  - r-lib/pkgdown

matrix:
  include:
  - r: devel
  - r: release
    after_success:
    - Rscript -e 'covr::codecov()'

    deploy:
      provider: script
      script: Rscript -e 'pkgdown::deploy_site_github(verbose = TRUE)'
      skip_cleanup: true
  - r: oldrel
  - r: 3.2
  - r: 3.1
